@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Source+Sans+Pro:wght@400;700&display=swap");
header {
  background-color: FFE1A8;
  padding: 15px;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: black;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #FFE1A8;
}

h1 {
  font-weight: 800;
  font-size: 4.8vw;
}

h2 {
  font-weight: 800;
  text-align: center;
  font-size: 4vw;
}

p {
  font-size: 3vw;
  font-weight: 600;
}

.start {
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

.squares {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.principio {
  padding: 10px;
  background: #C9CBA3;
  border-radius: 10px;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#share > img {
  width: 50%;
  padding-top: 10px;
}

.members {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.membros {
  display: flex;
  background: #C9CBA3;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.membro {
  flex: 1 1 0;
  background: #19222A;
  margin: 10px;

  padding: 10px;
  border-radius: 10px;
}

.membro p {
  color: white;
}

.membro i {
  font-size: 3vw;
  margin: 5px;
  color: white;
}

.avatar {
  border-radius: 50%;
  max-width: 200px;
}

.comm {
  flex: 1 1 0;
  background: #19222A;
  margin: 10px;

  text-align: center;

  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-width:200px;

  min-height: 200px;
}

.comm p {
  flex: 1;
  color: white;
}

.comm i {
  flex: 1;
  font-size: 8vw;
  margin-top: 5px;
  color: white;
}

.community a {
  flex: 1;
  margin: 0px 5vw;
}

.community {
  display: flex;
  background: #C9CBA3;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}