@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Source+Sans+Pro:wght@400;700&display=swap");

header {
  background-color: #f9f9f9;
  padding: 15px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-weight: 800;
  font-size: 4.8vw;
}

h2 {
  font-weight: 800;
  text-align: center;
  font-size: 4vw;
}

p {
  font-size: 3vw;
  font-weight: 400;
}

.start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  min-width: 720;
}

.tech {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../content/background.jpg');
}

.card {
  padding: 20px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > h1 {
  color: #f9f9f9;
}

.card > p {
  color: #f9f9f9;
}

.squares {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 720;
}

.principio {
  padding: 10px;
  background: #f9f9f9;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.principio > img {
  max-width: 100px;
  max-height: 100px;
}

.wh-card {
  padding: 20px;
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgray;
}

#study {
  background: #3F37C9;
}

#study > p {
  color: #f9f9f9;
}

#share {
  background: #3F37C9;
}

#share > p {
  color: #f9f9f9;
}

#share > img {
  width: 50%;
  padding-top: 10px;
}

span {
  display: block;
  width: 48px;
  height: 48px;
}

.material-icons {
  transform-origin: center;
  transform: rotateZ(-45deg);
}

.material-icons.md-48 { font-size: 48px; }

#project:hover {
  box-shadow: inset 0 0 5px lightgray;
}

.wh-card:hover > .material-icons {
  color: #3F37C9;
}

#members > .material-icons {
  color: #f9f9f9
}

.membros {
  display: flex;
}

a > .wh-card:hover {
  box-shadow: inset 0 0 5px lightgray;
}

.membros > a {
  width: 25%;
}

.membros > a > img {
  float: left;
  object-fit: cover;
  object-position: center;
  max-width:100%;
  max-height:100%;
}

.cfa {
  display: flex;
}

#connect {
  width: 75%;
}

#call.card {
  background-color: #3F37C9;
  width: 25%;
}

.socials {
  display: flex;
}

.socials img{
  max-width: 100px;
}

.socials  a {
  width: 50%;
}

#discord {
  flex-direction: row;
  align-items: center;
}

#git {
  flex-direction: row;
  align-items: center;
}


@media (max-width:600px) {
  .material-icons.md-48 { font-size: 24px; }
}