@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Source+Sans+Pro:wght@400;700&display=swap");

header {
  background-color: #f9f9f9;
  padding: 15px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-weight: 800;
  font-size: 3vw;
}

h2 {
  font-weight: 800;
  text-align: center;
  font-size: 3vw;
}

p {
  font-size: 1.2vw;
}

.start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  min-width: 720;
}

.tech {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url('../content/background.jpg');
}

.card {
  padding-left: 20px;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > h1 {
  color: #f9f9f9;
}

.card > p {
  color: #f9f9f9;
}